@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #000000;
  font-size: 62.5%;
  width: 100%;
  color: var(--white);
}

:root {
  --black: #000000;
  --red: #ed1c24;
  --white: #ffffff;
}

.outLine {
  text-decoration: none;
  color: #ffffff;
}

.dp-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.logo-img {
  height: 80px;
}

.list-style {
  list-style: none;
}

.gap-30 {
  gap: 30px;
}

.font-size {
  font-size: 0.9rem;
}

.btn-1 {
  border: none;
  background-color: var(--black);
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 30px;
  width: 150px;
  padding: 15px 0 15px 0;
}

.btn-2 {
  border: none;
  display: flex;
  background-color: var(--red);
  color: var(--white);
  border: 1px solid var(--whi te);
  border-radius: 30px;
  align-items: center;
  width: 150px;
}

.btn-2 .ph-arrow-circle-right {
  margin-left: 10px;
  font-size: 1.8rem;
}

.ph-fill {
  fill: none;
}

.front-img {
  width: 100%;
}

.btn1-2 {
  gap: 10px;
}

#orderNow {
  text-align: center;
  margin-top: 100px;
  font-size: 0.9rem;
}

p {
  text-align: center;
  margin-top: 15px;
  font-size: 1rem;
  color: #ffffff9f;
}

.middle-image0 {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 60px;
}

.btn-3 {
  border: none;
  background-color: var(--black);
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 30px;
  width: 150px;
  padding: 15px 0 15px 0;
  margin: 0 auto;
}

.orderNow-btn {
  display: flex;
  justify-content: center;
  gap: 110px;
  margin-top: 30px;
}

.orderNow-btn button {
  border: none;
  background-color: var(--black);
  color: var(--white);
  border: 0.1rem solid var(--white);
  border-radius: 30px;
  width: 170px;
  padding: 15px 0 15px 0;
}

.container-2 {
  position: relative;
  background: #ffffff0f;
  padding: 70px;
  margin-top: 100px;
}

.image-S {
  position: absolute;
  right: 32px;
  top: 32px;
}

.dp-inline {
  text-align: center;
  /* margin-top: 100px; Adjust this value to move the text down */
}

.dp-inline h2 {
  text-align: center;
  margin-bottom: 8px;
  font-family: "butler";
  font-style: normal;
  font-size: 48px;
  line-height: 60px;
  color: #ffffff;
  margin-bottom: 8px;
}

p {
  margin: 0; /* Reset margins for p */
}

.islamabad {
  font-family: 'apercu';
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 20px;
  letter-spacing: 0.48em;
  text-transform: uppercase;
  color: #ED1C24;
  margin-bottom: 8px;
  display: block;
}

.islamabadSP h3 {
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
  font-size: 2rem;
  color: #FFFFFF;
  /* margin-top: 20px; */
  margin-bottom: 24px;
}

.islamabadSP {
  padding: 40px;
  margin-top: 20px;
}

.islamabadSP h3 span {
  font-size: 2rem;
}


.btn-2-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border: 1px solid var(--white);
  border-radius: 50px;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  width: 180px;
  transition: background-color 0.3s ease;
  font-family: 'Poppins';
  flex-wrap: wrap;
}

.btn-2-4 .ph-arrow-circle-right {
  margin-left: 10px;
  font-size: 1.8rem;
}

.btn-4 {
  margin-top: 50px;
}

.image-1 {
  position: relative;
  width: 100%;
  margin-top: 50px;
  padding-right: 15px;
  padding-left: 15px;
}

.middle-1{
  display: grid;
  grid-template-columns: 50% 50%;
}

.btn-2-4:hover{
  background-color: var(--red);
}
